#navbar {
    overflow: hidden;
    padding: 35px 5px;
    transition: 0.4s;
    position: top;
    width: 100%;
    top: 0;
    z-index: 99;
}

#navbar #logo {
    width: 400px;
    transition: 1s;
}

#navbar #bi-telephone {
    width: 50px;
    transition: 1s;
}

#navbar #telefono {
    font-size: 1em;
    transition: 1s;
}

#text {
    font-size: 35px;
    font-family: Helvetica;
    transform: skew(-20deg);
}

#navbar-right {
    float: right;
}

@media screen and (max-width: 580px) {
    #navbar a {
        float: none;
        display: block;
        text-align: left;
    }
    #navbar-right {
        float: none;
    }
    #navbar #logo {
        width: 100px;
        transition: 0.4s;
    }
}