<!-- <footer>
    <div class="mt-5 pt-5 pb-5 footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-xs-12 about-company">
                    <h2>Heading</h2>
                    <p class="pr-5 text-white-50">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac ante mollis quam tristique convallis </p>
                    <p><a href="#"><i class="fa fa-facebook-square mr-1"></i></a><a href="#"><i class="fa fa-linkedin-square"></i></a></p>
                </div>
                <div class="col-lg-3 col-xs-12 links">
                    <h4 class="mt-lg-0 mt-sm-3">Links</h4>
                    <ul class="m-0 p-0">
                        <li>- <a href="#">Lorem ipsum</a></li>
                        <li>- <a href="#">Nam mauris velit</a></li>
                        <li>- <a href="#">Etiam vitae mauris</a></li>
                        <li>- <a href="#">Fusce scelerisque</a></li>
                        <li>- <a href="#">Sed faucibus</a></li>
                        <li>- <a href="#">Mauris efficitur nulla</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-xs-12 location">
                    <h4 class="mt-lg-0 mt-sm-4">CONTACTANOS</h4>
                    <p><i class="fa fa-envelope-o mr-3">reparacion_total@gmail.com</i></p>
                    <p class="mb-0" href="tel:+525545508452"><i class="fa fa-phone mr-3"></i>5545508452</p>
                    <a id="text" href="tel:+525545508452" aria-current="page" class="nav-link me-5 d-none d-sm-block fa fa-phone mr-3">5545508452</a>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col copyright">
                    <p class=""><small class="text-white-50">© 2022. Reparacion Total.</small></p>
                </div>
            </div>
        </div>
    </div>
</footer> -->

<footer class="footer-section">
    <div class="container">
        <div class="footer-cta pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <a style="text-decoration:none" href="https://goo.gl/maps/QQiZiv5oZ6hDTpxJA"><i class="fas fa-map-marker-alt"></i> </a>
                        <div class="cta-text">
                            <a style="text-decoration:none" href="https://goo.gl/maps/QQiZiv5oZ6hDTpxJA">
                                <h4>UBICANOS</h4>
                            </a>
                            <a style="text-decoration:none" href="https://goo.gl/maps/QQiZiv5oZ6hDTpxJA"> <span>CDMX, Metro PORTALES</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <a style="text-decoration:none" href="tel:+525545508452"><i class="fas fa-phone"></i> </a>
                        <div class="cta-text">
                            <a style="text-decoration:none" href="tel:+525545508452">
                                <h4>LLAMANOS</h4>
                            </a>
                            <a style="text-decoration:none" href="tel:+525545508452"><span >55-45-50-84-52</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <a style="text-decoration:none" href="mailto:contacto@reparaciontotal.com.mx?Subject=Aquí%20el%20asunto%20del%20mail"><i class="far fa-envelope-open"></i></a>
                        <div class="cta-text">
                            <a style="text-decoration:none" href="mailto:contacto@reparaciontotal.com.mx?Subject=Aquí%20el%20asunto%20del%20mail">
                                <h4>CORREO</h4>
                            </a>
                            <a style="text-decoration:none" href="mailto:contacto@reparaciontotal.com.mx?Subject=Aquí%20el%20asunto%20del%20mail"><span><a href=""></a>contacto@reparaciontotal.com.mx</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="index.html"><img src="assets/logo_reparacion_total.png" class="img-fluid" alt="logo"></a>
                        </div>
                        <div class="footer-text">
                            <p>SOMOS UNA EMPRESA CON MAS DE 20 AÑOS DE SERVICO PARA BRINDAMOS SEGURIDAD Y CONFIANZA </p>
                        </div>
                        <div class="footer-social-icon">
                            <span>Siguenos en:</span>
                            <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                            <a href="#"><i class="fab fa twitter-bg"><svg  xmlns="http://www.w3.org/2000/svg"width="20" height="20" fill="white" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M448,209.91a210.06,210.06,0,0,1-122.77-39.25V349.38A162.55,162.55,0,1,1,185,188.31V278.2a74.62,74.62,0,1,0,52.23,71.18V0l88,0a121.18,121.18,0,0,0,1.86,22.17h0A122.18,122.18,0,0,0,381,102.39a121.43,121.43,0,0,0,67,20.14Z"/></svg></i></a>
                            <a href="#"><i class="fab fa-youtube google-bg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4  mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Enlaces de Ayuda</h3>
                        </div>
                        <ul>
                            <li><a href="#">Inicio</a></li>

                            <li><a routerLink="/servicios">Servicios</a></li>

                        </ul>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2022, Reparacion Total</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>