<footer class="row row-cols-5 py-5 my-5 border-top">
    <div class="container">
        <div class="col">
            <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
            </a>
            <p class="text-muted">&copy; 2022</p>
        </div>

        <div class="col">

        </div>

        <div class="col">
            <h5>CONTACTO</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="https://api.whatsapp.com/send?phone=5537213349&text=Que tal requiero un servicio o cotizacion." class="nav-link p-0 text-muted">5537213349</a></li>
                <li class="nav-item mb-2"><a href="https://mail.google.com/mail/u/0/#inbox?compose=DmwnWrRmTWlvKpvNQvxMZMSQDxlQzSRBWWLwphgHrNHRMmdZPjkqpklwDSDtFLcSmgptzzSdkDTB" class="nav-link p-0 text-muted">rexdante51@gmail.com</a></li>

            </ul>
        </div>

        <div class="col">
            <h5>UBICANOS</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="https://www.google.com.mx/maps/place/Membrillo,+San+Juan+Xalpa,+09850+Ciudad+de+México,+CDMX/@19.3353694,-99.0846517,17z/data=!3m1!4b1!4m5!3m4!1s0x85ce020c653c5a8b:0x2ffc641e0982ef8c!8m2!3d19.3353644!4d-99.0824577?authuser=1"
                        class="nav-link p-0 text-muted">MEMBRILLO #7 COL. SAN JUAN XALPA 09850</a></li>

            </ul>
        </div>

    </div>
</footer>