<div class="container">
    <div class="heading-section">
        <h1 id="titulo" class="display-1 colorserv text-center mt-3 titlea">Servicio para tu hidroneumatico</h1>
    </div>
</div>
<section id="bienvenidos" class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="video-contenido position-relative d-inline-block text-truncate">
                    <img src="assets/servicios/hidroneumatico.jpg" class="img-fluid " alt="Fondo imagen del video">
                </div>

            </div>
            <div class="col-12 col-md-6 pt-4 text-center">
                <div class="typewriter">
                    <h2 id="text" class="display-5 font-weight-bold  ">TÉCNICOS ESPECIALIZADOS </h2>

                </div>
                <div class="typewriter">
                    <h2 id="text" class="display-5 font-weight-bold  "><span class="colorcent">PARA TU HIDRONEUMATICO.</span></h2>
                </div>
                <div class="typewriter">
                    <h6 id="text" class="text-black-50 display-6">NO TE ARRIESGUES Y CONTACTANOS</h6>
                </div>
                <h1 class="just contenido">Le Hacemos un Estudio, y de Acuerdo a Su Instalacion y Necesidades le Informaremos Cual Seria Su Equipo Adecuado
                    <li class="contenido"> Falta de Presion</li>
                    <li class="contenido"> Fallas de Encendido </li>
                    <li class="contenido"> Mantenimientos Preventivos</li>
                    <li class="contenido"> Diseñamos Equipos Silenciosos</li>
                    <li class="contenido"> Venta de Equipos y Refacciones</li>
                </h1>

                <div class="pt-5 d-flex justify-content-between">
                    <button class="button-two text-white"><span><b>SERVICIO </b></span></button>

                    <button class="button-two text-white"><span> <b>INSTALACIÓN </b></span></button>
                </div>
            </div>

        </div>
    </div>
</section>