<div class="container">
    <div class="heading-section">
        <h1 id="titulo" class="display-1 colorserv text-center mt-3 titlea">Servicio para tu bomba de agua</h1>
    </div>
</div>
<section id="bienvenidos" class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="video-contenido position-relative d-inline-block text-truncate">
                    <img src="assets/servicios/bomba.jpg" class="img-fluid " alt="Fondo imagen del video">
                </div>

            </div>
            <div class="col-12 col-md-6 pt-4 text-center">
                <div class="typewriter">
                    <h2 id="text" class="display-5 font-weight-bold  ">TÉCNICOS ESPECIALIZADOS </h2>

                </div>
                <div class="typewriter">
                    <h2 id="text" class="display-5 font-weight-bold  "><span class="colorcent">PARA TU BOMBA DE AGUA.</span></h2>
                </div>
                <div class="typewriter">
                    <h6 id="text" class="text-black-50 display-6">NO TE ARRIESGUES Y CONTACTANOS</h6>
                </div>
                <h1 class="just">Para que una bomba de agua funcione de manera correcta es necesario realizar un mantenimiento habitual. De esta forma podrás evitar fallos en el sistema y con ello gastos en reparaciones o compra de nuevos equipos. Una forma muy eficaz
                    de hacerlo es contar con una lista de verificación donde tener anotados los pasos necesarios para llevar al día un mantenimiento óptimo de la instalación.</h1>

                <div class="sub-main">
                    <button class="button-two text-white"><span>CONTACTANOS</span></button>
                </div>
            </div>

        </div>
    </div>
</section>