<div class="container">
    <div class="heading-section">
        <h1 id="titulo" class="display-1 colorserv text-center mt-3 titlea">Servicio para tu jacuzzi</h1>
    </div>
</div>
<section id="bienvenidos" class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="video-contenido position-relative d-inline-block text-truncate">
                    <img src="assets/servicios/jacuzzi.jpg" class="img-fluid " alt="Fondo imagen del video">
                </div>

            </div>
            <div class="col-12 col-md-6 pt-4 text-center">
                <div class="typewriter">
                    <h2 id="text" class="display-5 font-weight-bold  ">TÉCNICOS<br>ESPECIALIZADOS </h2>

                </div>
                <div class="typewriter">
                    <h2 id="text" class="display-5 font-weight-bold  "><span class="colorcent">PARA TU JACUZZI.</span></h2>
                </div>
                <div class="typewriter">
                    <h6 id="text" class="text-black-50 display-6">NO TE ARRIESGUES Y CONTACTANOS</h6>
                </div>
                <h1 class="just contenido">El jacuzzi es sin duda uno de los placeres que todos deberían tener la oportunidad de probar, ya que son artículos que logran que la persona entre en un estado de bienestar pura. También es una experiencia inolvidable, lo que acaba desembocando
                    en un precio que puede ser algo alto, pero sin duda vale la pena. </h1>

                <div class="pt-5 d-flex justify-content-between">
                    <button id="panel1" class="button-two text-white"><span><b>SERVICIO </b></span></button>

                    <button id="panel2" class="button-two text-white"><span> <b>INSTALACIÓN </b></span></button>
                </div>
            </div>

        </div>
    </div>
</section>