#hero1 {
    /* background-image: url("assets/fondobg.png"); */
    background-image: url("fondobg1.png");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#hero2 {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/21555/Melissani-cave-natural.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#nosotros {
    background-color: #f7f7f7;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#count {
    background-color: red;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.carousel-caption {
    top: 40%;
    bottom: auto;
}

.just {
    text-align: justify;
}

#quote {
    font-size: 44px;
    line-height: 50px;
    color: #dedede;
}

button {
    padding: 10px;
    margin: 20px 0;
}