<app-header></app-header>
<div class="container">
    <div id="carouselExampleIndicators" class="carousel slide " data-bs-ride="carousel">
        <div class="carousel-indicators ">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner ">
            <div class="carousel-item active">
                <img src="assets/logo_reparacion_total.png" class="d-block w-100 " alt="...">
            </div>
            <div class="carousel-item">
                <img src="assets/logo_reparacion_total.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="assets/logo_reparacion_total.png" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
    </div>
</div>

<div class="container mt-5">
    <div class="row ">
        <div class="col d-flex justify-content-center align-self-end">
            <h1 class="text-center">INICIO</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-6"> REPARACIÓN Y MANTENIMIENTO <br> Somos una empresa mexicana con más de 30 AÑOS posicionados en el mercado, especializados en la reparación y mantenimiento de calentadores, calderas, equipos para albercas, calefacciones centrales e hidrónicas, calefactores,
            sistemas de recirculación para agua, hidroneumáticos, entre otros. <br> Recurre a los EXPERTOS. <br><img src="assets/logo_reparacion_total.png" width="150-" height="60" alt=""></div>
        <div class="col-sm-12 col-lg-6">
            <li> OFRECEMOS -Reparaciones el mismo día
                <li> Todas las marcas y modelos
                    <li> 30 años de experiencia nos respaldan
                        <li> Seguimiento de servicio anual
                            <li> Presupuestos económicos
                                <li> Trabajos 100% garantizados por escrito
                                    <li> Pagos en efectivo, tarjetas de débito o crédito y transferencias bancarias

        </div>
    </div>
</div>



<div class="container mt-5">
    <div class="row mb-5">
        <div class="col d-flex justify-content-center">
            <h1> ALGUNAS DE LAS MARCAS QUE TRABAJAMOS </h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mb-5">
        <div class="col-lg-4 d-flex justify-content-center">
            <img class="w-50" src="assets/index/LOGOS/CALOREX-min.png " alt=" " width="100 " height="100 ">
        </div>
        <div class="col-lg-4 d-flex justify-content-center">
            <img class="w-50" src="assets/index/LOGOS/ASCOT-min.png " alt=" " width="100 " height="100 ">
        </div>
        <div class="col-lg-4 d-flex justify-content-center">
            <img class="w-50   " src="assets/index/LOGOS/MASS TER-CAL-min.png " alt=" " width="100 " height="100 ">
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-lg-4 d-flex justify-content-center">
            <img class="w-50" src="assets/index/LOGOS/BOSCH-min.png " alt=" " width="100 " height="100 ">
        </div>
        <div class="col-lg-4 d-flex justify-content-center">
            <img class="w-50" src="assets/index/LOGOS/LEFLAM-min.png " alt=" " width="100 " height="100 ">
        </div>
        <div class="col-lg-4 d-flex justify-content-center">
            <img class="w-50" src="assets/index/LOGOS/KRUGER-min.png " alt=" " width="100 " height="100 ">
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-lg-4  d-flex justify-content-center">
            <img class="w-50" src="assets/index/LOGOS/HESA-min.png " alt=" " width="100 " height="100 ">
        </div>
        <div class="col-lg-4 d-flex justify-content-center">
            <img class="w-50 " src="assets/index/LOGOS/HONEYWELL-min.png " alt=" " width="100 " height="100 ">
        </div>
        <div class="col-lg-4 d-flex justify-content-center">
            <img class="w-50" src="assets/index/LOGOS/DELTA-min.png " alt=" " width="100 " height="100 ">
        </div>
    </div>
    <div class="row mb-5">
        <div class="col d-flex justify-content-center">
            <img class="w-25" src="assets/index/LOGOS/CINSA-min.png " alt=" " width="100 " height="100 ">
        </div>
    </div>
</div>
<div class=" ">
    <div class="row ">
        <img src="assets/lona calderas 2.png " alt=" ">
    </div>
</div>

<div class="container mt-5">
    <div class="row mb-5">
        <div class="col d-flex justify-content-center">
            <h1> ALGUNOS DE NUESTROS TRABAJOS</h1>

        </div>
    </div>
</div>

<h2>responsive，autoplay</h2>


<h2>center</h2>
<div class="owl-carousel owl-carousel-center owl-theme ">
    <div class="item ">
        <img src="assets/IMG_20210512_150131.jpg " class="d-block w-100 " alt="... ">
    </div>
    <div class="item ">
        <h4>2</h4>
    </div>
    <div class="item ">
        <h4>3</h4>
    </div>
    <div class="item ">
        <h4>4</h4>
    </div>
    <div class="item ">
        <h4>5</h4>
    </div>
    <div class="item ">
        <h4>6</h4>
    </div>
</div>

<h2>autoplay，fadeOut</h2>
<div class="owl-carousel owl-carousel-single owl-theme ">
    <div class="item ">
        <img src="assets/recursos/IMAGENES PAG CALENTADORES/ALBERCA CASASOLA/IMG_20210512_150131.jpg " class="d-block w-100 " alt="... ">
    </div>
    <div class="item ">
        <h4>2</h4>
    </div>
    <div class="item ">
        <h4>3</h4>
    </div>
    <div class="item ">
        <h4>4</h4>
    </div>
    <div class="item ">
        <h4>5</h4>
    </div>
</div>


<div class="container mt-5">
    <div class="row mb-5">
        <div class="col d-flex justify-content-center">
            <h1> REPARACION TOTAL | ALBERCA VALLE DE BRAVO</h1>

        </div>
    </div>
</div>
<div>
    <div class="container mt-5">
        <div class="row mb-5">
            <div class="col d-flex justify-content-center">
                <video src="assets/VID_20210529_131120.mp4" width="640" height="480"></video>
            </div>
        </div>


        <section>
            <div class="container mt-5">
                <div class="row mb-5">
                    <h3> Nosotros</h3>
                    <div class="col-sm-12 col-lg-6"> <br> <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-droplet-fill text-primary" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M7.21.8C7.69.295 8 0 8 0c.109.363.234.708.371 1.038.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8zm.413 1.021A31.25 31.25 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10a5 5 0 0 0 10 0c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z"/>
                <path fill-rule="evenodd" d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87l-.894-.448z"/>
              </svg>Objetivo <br>Nuestro objetivo es brindar solución total a sus requerimientos de agua caliente,<button type="button" class="btn btn-light">ver mas..</button> <br><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                            class="bi bi-droplet-half-fill text-primary" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M7.21.8C7.69.295 8 0 8 0c.109.363.234.708.371 1.038.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8zm.413 1.021A31.25 31.25 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10c0 0 2.5 1.5 5 .5s5-.5 5-.5c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z"/>
                <path fill-rule="evenodd" d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87l-.894-.448z"/>
              </svg> ¿Quiénes somos? <br> Somos una empresa mexicana con más de 20 años posicionados en el <br><button type="button" class="btn btn-light">ver mas..</button> <br> <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                            class="bi bi-droplet-fill- text-primary" viewBox="0 0 16 16">
                    <path d="M8 16a6 6 0 0 0 6-6c0-1.655-1.122-2.904-2.432-4.362C10.254 4.176 8.75 2.503 8 0c0 0-6 5.686-6 10a6 6 0 0 0 6 6ZM6.646 4.646l.708.708c-.29.29-1.128 1.311-1.907 2.87l-.894-.448c.82-1.641 1.717-2.753 2.093-3.13Z"/>
                  </svg>¿Qué hacemos?<br> Nos dedicamos a la reparación, mantenimiento, venta de equipos y refacciones, de <button type="button" class="btn btn-light">ver mas..</button>
                    </div>
                    <div class="col-sm-12 col-lg-6"> <img src="assets/index/calentadores_reparacion_total.png" alt="">

                    </div>
                </div>
            </div>
        </section>
        <div class="container mt-5">
            <div class="row mb-5">
                <div class="col d-flex justify-content-center">
                    <h1>REPARACIÓN Y ARREGLO DE SISTEMA DE GAS E HIDRÁULICO</h1>
                </div>
                <h4>Reparación y arreglo de sistema de gas e hidráulico a calentadores dúplex Hesa, y cambio de instalación hidráulica a calentadores solares en hotel.</h4>
            </div>
        </div>
        <div>

            <!--             <a href="#" class="video-btn" data-toggle="modal" data-src="assets/recursos/IMAGENES PAG CALENTADORES/ALBERCA CASASOLA/VID_20210529_125655.mp4" data-target="#video_pop">
                <div class="container mt-5">
                    <div class="row mb-5">
                        <div class="col d-flex justify-content-center">
                            <button type="button" class="btn btn-light"><svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                            </svg></button>
                        </div>
                    </div>
                    <div>

                
                        <div class="modal fade" id="video_pop" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                                        16:9 aspect ratio
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always"></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->

            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-wrench-adjustable" viewBox="0 0 16 16">
                            <path d="M16 4.5a4.492 4.492 0 0 1-1.703 3.526L13 5l2.959-1.11c.027.2.041.403.041.61Z"/>
                            <path d="M11.5 9c.653 0 1.273-.139 1.833-.39L12 5.5 11 3l3.826-1.53A4.5 4.5 0 0 0 7.29 6.092l-6.116 5.096a2.583 2.583 0 1 0 3.638 3.638L9.908 8.71A4.49 4.49 0 0 0 11.5 9Zm-1.292-4.361-.596.893.809-.27a.25.25 0 0 1 .287.377l-.596.893.809-.27.158.475-1.5.5a.25.25 0 0 1-.287-.376l.596-.893-.809.27a.25.25 0 0 1-.287-.377l.596-.893-.809.27-.158-.475 1.5-.5a.25.25 0 0 1 .287.376ZM3 14a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"/>
                          </svg>
                        <h4>Trabajos realizados</h4>


                    </div>
                    <div class="col-sm">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                            <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z"/>
                          </svg>
                        <h4>Ventas e instalaciones</h4>
                    </div>
                    <div class="col-sm">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                            <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
                          </svg>
                        <h4>Refacciones puestas</h4>
                    </div>
                    <div class="col-sm">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                            <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
                            <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                          </svg>
                        <h4>Clientes felices</h4>
                    </div>
                </div>
            </div>

            <app-footer></app-footer>