<div class="container">
    <div class="heading-section">
        <h1 id="titulo" class="display-1 colorserv text-center mt-3 titlea">Servicio para tu vapor</h1>
    </div>
</div>
<section id="bienvenidos" class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="video-contenido position-relative d-inline-block text-truncate">
                    <img src="assets/servicios/vapor.jpg" class="img-fluid " alt="Fondo imagen del video">
                </div>

            </div>
            <div class="col-12 col-md-6 pt-4 text-center">
                <div class="typewriter">
                    <h2 id="text" class="display-5 font-weight-bold  ">TÉCNICOS<br>ESPECIALIZADOS </h2>

                </div>
                <div class="typewriter">
                    <h2 id="text" class="display-5 font-weight-bold  "><span class="colorcent">PARA TU VAPOR.</span></h2>
                </div>
                <div class="typewriter">
                    <h6 id="text" class="text-black-50 display-6">NO TE ARRIESGUES Y CONTACTANOS</h6>
                </div>
                <h1 class="just contenido">Los operadores de calderas y generadores de vapor deberán estar debidamente, entrenados y certificados por la Autoridad de Aplicación, luego de rendir un examen de competencia ante personal técnico del área especifica.</h1>

                <div class="pt-5 d-flex justify-content-between">
                    <button id="panel1" class="button-two text-white"><span><b>SERVICIO </b></span></button>

                    <button id="panel2" class="button-two text-white"><span> <b>INSTALACIÓN </b></span></button>
                </div>
            </div>

        </div>
    </div>
</section>