<div class="container">
    <div class="row mb-5 mt-5">
        <div class="col-12">
            <div class="section-header text-center">
                <h2 id="text" class="sub-title type bglogas">REPARACIONES MANTENIMIENTOS-INSTALACION</h2>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-trasparent my-4 p" style="position: relative">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            <div class="col hp">
                <div class="card h-100 shadow-sm">
                    <a href="servicio/calentador">
                        <img src="assets/servicios/calentador.png" class="card-img-top" alt="product.title" />
                    </a>


                    <a class="text-white" href="servicio/calentador"></a>

                    <div class="card-body">
                        <div class="clearfix mb-5">
                            <br><span class="float-start badge rounded-pill bglog">CALENTADORES</span>

                        </div>
                        <h5 class="card-title">
                            <a target="_blank" href="servicio/calentador">
                                <li>NO CALIENTA</li>
                                <li>SE APAGA</li>
                                <li>TE DURA POCO EL AGUA CALIENTE</li>
                            </a>
                        </h5>

                        <div class="d-grid gap-2 my-4">

                            <a href="servicio/calentador" class="btn bgloga bold-btn text-white">VER MAS..</a>

                        </div>
                        <div class="clearfix mb-1">


                            <span class="float-end"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col hp">
                <div class="card h-100 shadow-sm">
                    <a href="servicio/caldera">
                        <img src="assets/servicios/caldera.jpg" class="card-img-top" alt="product.title" />
                    </a>

                    <a class="text-white" href="#">razer</a>

                    <div class="card-body">
                        <div class="clearfix mb-5">
                            <span class="float-start badge rounded-pill bglog ">CALDERAS</span>
                        </div>
                        <h5 class="card-title">
                            <a target="_blank" href="#">
                                <li>MUY POCA PRESION</li>
                                <li> NO FLUYE EL AGUA </li>
                                <li>PERDIDA DE AGUA</li>
                            </a>
                        </h5>

                        <div class="d-grid gap-2 my-4">

                            <a href="#" class="btn bgloga bold-btn text-white">VER MAS...</a>

                        </div>
                        <div class="clearfix mb-1">

                            <span class="float-end"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col hp">
                <div class="card h-100 shadow-sm">
                    <a href="servicio">
                        <img src="assets/servicios/hidroneumatico.jpg" class="card-img-top" alt="product.title" />
                    </a>


                    <a class="text-white" href="#">lenovo</a>

                    <div class="card-body">
                        <div class="clearfix mb-5">
                            <span class="float-start badge rounded-pill bglog">HIDRONEUMATICOS</span>
                        </div>
                        <h5 class="card-title">
                            <a target="_blank" href="#">
                                <li>ARRANCA REPENTINAMENTE</li>
                                <li>LA BOMBA NO PARA</li>
                                <li>LA BOMBA NO ARRANCA</li>
                            </a>
                        </h5>

                        <div class="d-grid gap-2 my-4">

                            <a href="#" class="btn bgloga bold-btn text-white">VER MAS...</a>

                        </div>
                        <div class="clearfix mb-1">



                            <span class="float-end"> </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col hp">
                <div class="card h-100 shadow-sm">
                    <a href="servicio">
                        <img src="assets/servicios/jacuzzi.jpg" class="card-img-top" alt="product.title" />
                    </a>
                    <!-- <div class="label-top shadow-sm">Asus Rog</div>  -->

                    <a class="text-white" href="#">msi</a>

                    <div class="card-body">
                        <div class="clearfix mb-5">
                            <span class="float-start badge rounded-pill bglog">JACUZZI</span>
                        </div>
                        <h5 class="card-title">
                            <a target="_blank" href="#">
                                <li>FUGA DE AGUA</li>
                                <li>LA BOMBA NO ARRANCA</li>
                                <li>TERMOMETRO</li>
                            </a>
                        </h5>

                        <div class="d-grid gap-2 my-4">

                            <a href="#" class="btn bgloga bold-btn text-white">VER MAS...</a>

                        </div>
                        <div class="clearfix mb-1">



                            <span class="float-end"> </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            <div class="col hp">
                <div class="card h-100 shadow-sm">
                    <a href="servicio">
                        <img src="assets/servicios/vapor.jpg" class="card-img-top" alt="product.title" />
                    </a>


                    <a class="text-white" href="#">asus</a>

                    <div class="card-body">
                        <div class="clearfix mb-5">
                            <span class="float-start badge rounded-pill bglog">VAPOR</span>
                        </div>
                        <h5 class="card-title">
                            <a target="_blank" href="#">
                                <li>CORROCION</li>
                                <li>FORMACION DE LODOS</li>
                                <li>ALTA PRESION DEN EL CABEZAL</li>
                            </a>
                        </h5>

                        <div class="d-grid gap-2 my-4">

                            <a href="#" class="btn bgloga bold-btn text-white">VER MAS...</a>

                        </div>
                        <div class="clearfix mb-1">


                            <span class="float-end"> </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col hp">
                <div class="card h-100 shadow-sm">
                    <a href="servicio">
                        <img src="assets/servicios/bomba.jpg" class="card-img-top" alt="product.title" />
                    </a>


                    <a class="text-white" href="#">razer</a>

                    <div class="card-body">
                        <div class="clearfix mb-5">
                            <span class="float-start badge rounded-pill bglog">BOMBA DE AGUA</span>
                        </div>
                        <h5 class="card-title">
                            <a target="_blank" href="#">
                                <li>EL MOTOR NO ARRANCA</li>
                                <li>EL MOTOR SIN BOMBEAR AGUA</li>
                                <li>SE CALIENTA</li>
                            </a>
                        </h5>

                        <div class="d-grid gap-2 my-4">

                            <a href="#" class="btn bgloga bold-btn text-white">VER MAS...</a>

                        </div>
                        <div class="clearfix mb-1">


                            <span class="float-end">

            </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>