@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700italic);
.colorserv {
    color: #1270b7;
}

.bglog {
    background-color: #e30613;
}

.bgloga {
    background-color: #1270b7;
}

.just {
    text-align: justify;
}

.colorcent {
    color: #e30613;
}

#text {
    font-size: 35px;
    font-family: Helvetica;
    transform: skew(-20deg);
}

#titulo {
    font-size: 50px;
    font-family: Helvetica;
    transform: skew(-20deg);
}


/* BOTON */

.button-two {
    border-radius: 4px;
    background-color: #e30613;
    border: none;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
}

.button-two span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button-two span:after {
    content: '';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button-two:hover span {
    padding-right: 25px;
}

.button-two:hover span:after {
    opacity: 1;
    right: 0;
}

.titlea {
    animation: zoomInUp;
    animation-duration: 2s;
}

.contenido {
    animation: fadeInRight;
    animation-duration: 2s;
}


/* DEMO-SPECIFIC STYLES */

.typewriter h2 {
    /* color: #fff; */
    /*  font-family: monospace; */
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    /* border-right: .15em solid orange; */
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation: typing 3.5s steps(30, end), blink-caret .5s step-end infinite;
}


/* The typing effect */

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}


/* The typewriter cursor effect */


/* @keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: orange
    }
} */