<div class="container">
    <div class="heading-section">
        <h1 id="titulo" class="display-1 colorserv text-center mt-3">Servicio para tu calentador</h1>
    </div>
</div>
<section id="bienvenidos" class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="video-contenido position-relative d-inline-block text-truncate">
                    <img src="assets/servicios/calentador.png" class="img-fluid " alt="Fondo imagen del video">
                    <a href="http://www.youtu.be/38evH9laHmY" class="venobox-video" data-vbtype="video"><i class="fas fa-play"></i></a>
                </div>

            </div>
            <div class="col-12 col-md-6 pt-4 text-center">
                <h2 id="text" class="display-5 font-weight-bold ">TÉCNICOS ESPECIALIZADOS <span class="colorcent">PARA TU CALENTADOR.</span></h2>
                <h6 id="text" class="text-black-50 display-6">NO TE ARRIESGUES Y CONTACTANOS</h6>
                <h1 class="just">Un mantenimiento correctivo se realiza cuando uno o más de los componentes del calentador se encuentran en mal estado, cuando presenta algunas fallas de combustión, calentamiento, se percibe olor a gas mal quemado, variación de temperatura,
                    entre otros.</h1>

                <a data-bs-toggle="modal" data-bs-target="#modalForm" class="btn bglog text-white">CONTACTANOS</a>
            </div>

        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="modalForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Bootstrap 5 Modal Form</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label class="form-label">Email Address</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Username" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" />
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="rememberMe" />
                        <label class="form-check-label" for="rememberMe">Remember me</label>
                    </div>
                    <div class="modal-footer d-block">
                        <p class="float-start">Not yet account <a href="#">Sign Up</a></p>
                        <button type="submit" class="btn btn-warning float-end">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>