<div class="container">
    <div class="heading-section">
        <h1 id="titulo" class="display-1 colorserv text-center mt-3">Servicio para tu calentador</h1>
    </div>
</div>
<section id="bienvenidos" class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="video-contenido position-relative d-inline-block text-truncate">
                    <img src="assets/servicios/calentador.png" class="img-fluid " alt="Calentador-Bosch-reparaciontotal">

                </div>

            </div>
            <div class="col-12 col-md-6 pt-4 text-center">
                <h2 id="text" class="display-5 font-weight-bold ">TÉCNICOS ESPECIALIZADOS <span class="colorcent">PARA TU CALENTADOR.</span></h2>
                <h6 id="text" class="text-black-50 display-6">NO TE ARRIESGUES Y CONTACTANOS</h6>
                <h1 class="just">Un mantenimiento correctivo se realiza cuando uno o más de los componentes del calentador se encuentran en mal estado, cuando presenta algunas fallas de combustión, calentamiento, se percibe olor a gas mal quemado, variación de temperatura,
                    entre otros.</h1>

                <a data-bs-toggle="modal" data-bs-target="#modalForm" class="btn bglog text-white">CONTACTANOS</a>
            </div>

        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="modalForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Formulario de servicios por contacto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="onSubmit()" #servicioForm="ngForm">
                    <div class="mb-3">
                        <label class="form-label">¿El calentador enciende?</label>
                        <div class="container">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" [(ngModel)]="model.enciende" type="radio" name="enciende" id="inlineRadio1" value="1">
                                <label class="form-check-label" for="inlineRadio1">Si</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" [(ngModel)]="model.enciende" type="radio" name="enciende" id="inlineRadio2" value="0">
                                <label class="form-check-label" for="inlineRadio2">No</label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">¿Nota un olor a gas o extraño que emane del calentador?</label>
                        <div class="container">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" [(ngModel)]="model.olor" type="radio" name="olor" id="inlineRadio1" value="1">
                                <label class="form-check-label" for="inlineRadio1">Si</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" [(ngModel)]="model.olor" type="radio" name="olor" id="inlineRadio2" value="0">
                                <label class="form-check-label" for="inlineRadio2">No</label>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">¿Detecta un problema a parte de los antes mencionados?</label>
                        <div class="container">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" [(ngModel)]="model.Mproblema" type="radio" name="Mproblema" id="inlineRadio1" value="1">
                                <label class="form-check-label" for="inlineRadio1">Si</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" [(ngModel)]="model.Mproblema" type="radio" name="Mproblema" id="inlineRadio2" value="0">
                                <label class="form-check-label" for="inlineRadio2">No</label>
                            </div>
                            <div class="mt-3">
                                <textarea placeholder="(Opcional)" [(ngModel)]="model.problema" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary mb-3">Contactar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>