#hero1 {
    /* background-image: url("assets/fondobg.png"); */
    background-image: url("../fondobg1.png");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#hero2 {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/21555/Melissani-cave-natural.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#nosotros {
    background-color: #f7f7f7;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#count {
    background-color: #e30613;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.carousel-caption {
    top: 30%;
    bottom: auto;
}

.just {
    text-align: justify;
}

#quote {
    font-size: 44px;
    line-height: 50px;
    color: #dedede;
}

button {
    padding: 10px;
    margin: 20px 0;
}

.header {
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky+.content {
    padding-top: 102px;
}

#text {
    font-size: 35px;
    font-family: Helvetica;
    transform: skew(-20deg);
}

.bglog {
    color: #e30613;
}

.bgloga {
    color: #1270b7;
}