<div class="pogoSlider" id="js-main-slider">
    <div class="pogoSlider-slide content" data-transition="expandReveal" data-duration="2500" style="background-image:url(assets/carousel/reparacion_total_poca_agua.jpg); ">
        <h3 id="text-titleC" class="centered d-flex justify-content-center respiracion">Tienes poca presión o te dura poco el agua <br> caliente no dudes en llamarnos </h3>
    </div>
    <div class="pogoSlider-slide" data-transition="expandReveal" data-duration="2500" style="background-image:url(assets/carousel/reparacion_total_agua_caliente.jpg);">
        <h3 id="text-titleC" class=" centered d-flex justify-content-center respiracion">Contamos con más<br> de 20 años de servicio <br> calificado para brindarte seguridad y confianza</h3>
    </div>
    <div class="pogoSlider-slide" data-transition="expandReveal" data-duration="2500" style="background-image:url(assets/carousel/reparacion_total_buena_presion.jpg);">
        <h3 id="text-titleC" class="centered centeredM d-flex justify-content-center respiracion">También contamos con asesorías telefónicas gratis y <br> cotizaciones con hasta un 20% de descuento <br> ¡¡¡Que estas esperando contactanos!! </h3>
    </div>
</div>

<section id="hero1" class="hero">
    <div class="container mt-5" [class.animate_title]="animate_title">
        <div class="row  md-6">
            <div class="col d-flex justify-content-center align-self-end">
                <h1 id="text-title" class="text-center mt-4 mb-5 bgloga" [class.fade]="fade">INICIO</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div data-aos="fade-up" class="col-sm-12 col-lg-6" [class.animate_parrafoL]="animate_title">
                <h2 [class.fadepl]="fade"> REPARACIÓN Y MANTENIMIENTO </h2>
                <h3 [class.fadepl]="fade"> Somos una empresa mexicana con más de 30 AÑOS posicionados en el mercado, especializados en la reparación y mantenimiento de calentadores, calderas, equipos para albercas, calefacciones centrales e hidrónicas, calefactores, sistemas de
                    recirculación para agua, hidroneumáticos, entre otros. Recurre a los EXPERTOS. </h3><br>
                <div class="col d-flex justify-content-center mb-4 " [class.fadepl]="fade"><img src="assets/logo_reparacion_total.png" width="150-" height="60" alt="reparacion-total"> </div>
            </div>
            <div class="col-sm-12 col-lg-6" [class.animate_parrafoR]="animate_title">
                <h2 [class.fadepr]="fade"> OFRECEMOS </h2>
                <h3 [class.fadepr]="fade">
                    <li>Reparaciones el mismo día</li>
                </h3>
                <h3 [class.fadepr]="fade">
                    <li> Todas las marcas y modelos </li>
                </h3>
                <h3 [class.fadepr]="fade">
                    <li> 30 años de experiencia nos respaldan </li>
                </h3>
                <h3 [class.fadepr]="fade">
                    <li> Seguimiento de servicio anual </li>
                </h3>
                <h3 [class.fadepr]="fade">
                    <li> Presupuestos económicos </li>
                </h3>
                <h3 [class.fadepr]="fade">
                    <li> Trabajos 100% garantizados por escrito </li>
                </h3>
                <h3 [class.fadepr]="fade">
                    <li> Pagos en efectivo, tarjetas de débito o crédito y transferencias bancarias </li>
                </h3>
            </div>
        </div>
    </div>
</section>

<div class="container mt-5" [class.animate_title]="animate_title">
    <div class="row mb-5">
        <div class="col d-flex justify-content-center">
            <h1 id="text" class="bgloga" [class.fade]="fade"> ALGUNAS DE LAS MARCAS QUE TRABAJAMOS </h1>
        </div>
    </div>
</div>


<div class="container mb-5">
    <div class="owl-carousel marcas owl-theme">
        <div><img class="" src="assets/index/logos/CALOREX-min.png " alt="CALOREX-reparacion-total"> </div>
        <div><img class="" src="assets/index/logos/ASCOT-min.png" alt="ASCOT-reparacion-total"> </div>
        <div><img class="" src="assets/index/logos/MASS TER-CAL-min.png" alt="MASS TER-CAL-reparacion-total"> </div>
        <div><img class="" src="assets/index/logos/BOSCH-min.png" alt="BOSCH-min-reparacion-total"> </div>
        <div><img class="" src="assets/index/logos/LEFLAM-min.png" alt="LEFLAM-min-reparacion-total"> </div>
        <div><img class="" src="assets/index/logos/KRUGER-min.png" alt="KRUGER-min-reparacion-total"> </div>
        <div><img class="" src="assets/index/logos/HESA-min.png" alt="HESA-min-reparacion-total"> </div>
        <div><img class="" src="assets/index/logos/HONEYWELL-min.png" alt="HONEYWELL-min-reparacion-total"> </div>
        <div><img class="" src="assets/index/logos/DELTA-min.png" alt="DELTA-min-reparacion-total"> </div>
        <div><img class="" src="assets/index/logos/CINSA-min.png" alt="CINSA-min-reparacion-total"> </div>
    </div>
</div>



<!-- <div class="d-none d-sm-block">
    <div class="row ">
        <img src="assets/lona calderas 2.png " alt=" ">
    </div>
</div>

<div class="container mt-5">
    <div class="row mb-5">
        <div class="col d-flex justify-content-center">
            <h1> ALGUNOS DE NUESTROS TRABAJOS</h1>
        </div>
    </div>
</div>

<div class="owl-carousel trabajos owl-theme">
    <div><img src="https://cdn.pixabay.com/photo/2017/08/01/09/04/dog-2563759_960_720.jpg" alt=""> </div>
    <div><img src="https://cdn.pixabay.com/photo/2014/04/13/20/49/cat-323262_960_720.jpg" alt=""> </div>
    <div><img src="https://cdn.pixabay.com/photo/2017/11/09/21/41/cat-2934720_960_720.jpg" alt=""> </div>
    <div><img src="https://cdn.pixabay.com/photo/2015/03/26/09/54/pug-690566_960_720.jpg" alt=""> </div>
</div>


<div class="container mt-5">
    <div class="row mb-5">
        <div class="col d-flex justify-content-center">
            <h1> REPARACION TOTAL | ALBERCA VALLE DE BRAVO</h1>
        </div>
    </div>
</div> -->

<!--     <div class="container mt-5">
        <div class="row mb-5">
            <div class="col d-flex justify-content-center">
                <video src="assets/VID_20210529_131120.mp4" width="640" height="480"></video>
            </div>
        </div> -->

<!-- <div class="embed-responsive embed-responsive-4by3">
    <iframe class="embed-responsive-item" src="assets/VID_20210529_131120.mp4"></iframe>
</div> -->


<section id="nosotros" class="nosotros ">
    <div class="container ">
        <div class="row">
            <div class="mb-5 mt-5" [class.animate_nosotros]="animate_nosotros">
                <h1 id="text-title" class="text-center display-1 mt-5 mb-5 bgloga " [class.faden]="faden"> Nosotros</h1>
            </div>

            <div class="col-sm-12 col-lg-6">

                <div class="d-flex align-items-center mb-4">
                    <div class="flex-shrink-0">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-droplet-fill text-primary" [class.animate_nosotropl]="animate_nosotros" [class.fadenpl]="faden" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M7.21.8C7.69.295 8 0 8 0c.109.363.234.708.371 1.038.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8zm.413 1.021A31.25 31.25 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10a5 5 0 0 0 10 0c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z"/>
                            <path fill-rule="evenodd" d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87l-.894-.448z"/>
                        </svg>
                    </div>
                    <div class="flex-grow-1 ms-3" [class.animate_nosotropl]="animate_nosotros">
                        <h3 [class.fadenpl]="faden"> Objetivo</h3>
                        <h5 class="just" [class.fadenpl]="faden">
                            Nuestra misión es brindar solución total a sus requerimientos de agua caliente, ambiente y vapor. Por ello contamos con técnicos especializados, que le ofrecen la respuesta que busca,\ para satisfacer sus necesidades y resolver sus dudas.
                        </h5>
                    </div>
                </div>
                <div class="d-flex align-items-center mb-4 ">
                    <div class="flex-shrink-0">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-droplet-half-fill text-primary" [class.animate_nosotropl]="animate_nosotros" [class.fadenpl]="faden" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M7.21.8C7.69.295 8 0 8 0c.109.363.234.708.371 1.038.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8zm.413 1.021A31.25 31.25 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10c0 0 2.5 1.5 5 .5s5-.5 5-.5c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z"/>
                            <path fill-rule="evenodd" d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87l-.894-.448z"/>
                        </svg>
                    </div>
                    <div class="flex-grow-1 ms-3" [class.animate_nosotropl]="animate_nosotros">
                        <h3 [class.fadenpl]="faden"> ¿Quiénes somos?</h3>
                        <h5 class="just" [class.fadenpl]="faden">
                            Somos una empresa mexicana con más de 20 años posicionados en el mercado... destacándonos en la calidad de nuestros trabajos y en la asesoría adecuada a sus necesidades así como en la Reparación y Mantenimiento (Preventivo-Correctivo) de la amplia gama
                            de Nuestros productos en sus Diversas Clasificaciones.
                        </h5>
                    </div>
                </div>

                <div class="d-flex align-items-center mb-4">
                    <div class="flex-shrink-0">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-droplet-fill- text-primary" [class.animate_nosotropl]="animate_nosotros" [class.fadenpl]="faden" viewBox="0 0 16 16">
                            <path d="M8 16a6 6 0 0 0 6-6c0-1.655-1.122-2.904-2.432-4.362C10.254 4.176 8.75 2.503 8 0c0 0-6 5.686-6 10a6 6 0 0 0 6 6ZM6.646 4.646l.708.708c-.29.29-1.128 1.311-1.907 2.87l-.894-.448c.82-1.641 1.717-2.753 2.093-3.13Z"/>
                        </svg>
                    </div>
                    <div class="flex-grow-1 ms-3" [class.animate_nosotropl]="animate_nosotros">
                        <h3 [class.fadenpl]="faden"> ¿Qué hacemos?</h3>
                        <h5 class="just" [class.fadenpl]="faden">
                            Nos dedicamos a la reparación, mantenimiento, venta de equipos y refacciones, de calderas, calentadores de paso y de depósito, generadores de vapor, equipos para albercas, calefacciones centrales e hidronicas, calefactores, sistemas de recirculación para
                            agua, hidroneumáticos, fabricación de tanques para almacenamiento de agua caliente, recubrimientos térmicos para tubería y tanques, automatización y conversión de equipos de diésel a gas, instalaciones hidráulicas, etc.
                        </h5>
                    </div>
                </div>



                <!--                 <ul>
                    <div class="container">
                        <li class="aguitas mb-5">
                            <h3> Objetivo</h3>
                            <h4> Nuestro objetivo es brindar solución total a sus requerimientos de agua caliente,</h4>
                        </li>
                    </div>
                    <br>
                    <div class="row">
                        <li class="aguitas mb-5">
                            <h3> ¿Quiénes somos?</h3>
                            <h4> Somos una empresa mexicana con más de 20 años posicionados en el</h4>
                        </li>
                    </div>
                    <br>
                    <div class="row">
                        <li class="aguitas mb-5">
                            <h3> ¿Qué hacemos? </h3>
                            <h4> Nos dedicamos a la reparación, mantenimiento, venta de equipos y refacciones, de </h4>
                        </li>
                    </div>
                </ul> -->
            </div>
            <div class="d-flex justify-content-center col-sm-12 col-lg-6 mb-3" [class.animate_nosotropr]="animate_nosotros">
                <img [class.fadenpr]="faden" src="assets/index/calentadores_reparacion_total.png" alt="reparacion-total">
            </div>
        </div>
    </div>
</section>
<div class="container mt-5" [class.animate_titler]="animate_titler">
    <div class="row mb-5">
        <div class="col d-flex justify-content-center">
            <h1 id="text" class="bgloga mt-5 mb-5" [class.fadev]="fadev">REPARACIÓN Y ARREGLO DE SISTEMA DE GAS E HIDRÁULICO</h1>
        </div>
        <h4>Reparación y arreglo de sistema de gas e hidráulico a calentadores dúplex Hesa, y cambio de instalación hidráulica a calentadores solares en hotel.</h4>
    </div>
</div>
<div>
    <div class="container">
        <div class="row">
            <div class="ratio" style="--bs-aspect-ratio: 40%;" [class.animate_video]="animate_video">
                <iframe [class.fadev]="fadev" src="https://www.youtube.com/embed/clwh4Y7QldI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <section id="count">
        <div class="container">
            <div class="row mt-5 md-6">
                <div class="col-sm mt-4 mb-4">
                    <div class="col d-flex justify-content-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-wrench-adjustable" viewBox="0 0 16 16">
                            <path d="M16 4.5a4.492 4.492 0 0 1-1.703 3.526L13 5l2.959-1.11c.027.2.041.403.041.61Z"/>
                            <path d="M11.5 9c.653 0 1.273-.139 1.833-.39L12 5.5 11 3l3.826-1.53A4.5 4.5 0 0 0 7.29 6.092l-6.116 5.096a2.583 2.583 0 1 0 3.638 3.638L9.908 8.71A4.49 4.49 0 0 0 11.5 9Zm-1.292-4.361-.596.893.809-.27a.25.25 0 0 1 .287.377l-.596.893.809-.27.158.475-1.5.5a.25.25 0 0 1-.287-.376l.596-.893-.809.27a.25.25 0 0 1-.287-.377l.596-.893-.809.27-.158-.475 1.5-.5a.25.25 0 0 1 .287.376ZM3 14a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"/>
                        </svg>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <h4>Trabajos realizados</h4>
                    </div>
                </div>
                <div class="col-sm mt-4 mb-4">
                    <div class="col d-flex justify-content-center"> <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                            <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z"/>
                          </svg></div>
                    <div class="col d-flex justify-content-center">
                        <h4>Ventas e instalaciones</h4>
                    </div>
                </div>
                <div class="col-sm mt-4 mb-4">
                    <div class="col d-flex justify-content-center"> <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                            <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
                          </svg></div>
                    <div class="col d-flex justify-content-center">
                        <h4>Refacciones puestas</h4>
                    </div>
                </div>
                <div class="col-sm mt-4 mb-4">
                    <div class="col d-flex justify-content-center"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                            <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
                            <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                          </svg> </div>
                    <div class="col d-flex justify-content-center">
                        <h4>Clientes felices</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>