#hero1 {
    /* background-image: url("assets/fondobg.png"); */
    background-image: url("../fondobg1.png");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#hero2 {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/21555/Melissani-cave-natural.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#nosotros {
    background-color: #f7f7f7;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#count {
    background-color: #e30613;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.carousel-caption {
    top: 30%;
    bottom: auto;
}

.just {
    text-align: justify;
}

#quote {
    font-size: 44px;
    line-height: 50px;
    color: #dedede;
}

button {
    padding: 10px;
    margin: 20px 0;
}

.header {
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky+.content {
    padding-top: 102px;
}

#text {
    font-size: 35px;
    font-family: Helvetica;
    transform: skew(-20deg);
}

#text-title {
    font-size: 50px;
    font-family: Helvetica;
    transform: skew(-20deg);
    display: block;
}

#text-titleC {
    font-size: 50px;
    font-family: Helvetica;
    transform: skew(-20deg) !important;
    display: block;
    color: #dedede;
    -webkit-text-stroke: 2px black;
}

.bglog {
    color: #e30613;
}

.bgloga {
    color: #1270b7;
}

.animate_title {
    animation: fadeInDown;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
    /* don't forget to set a duration! */
}

.animate_parrafoL {
    animation: fadeInLeft;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
    /* don't forget to set a duration! */
}

.animate_parrafoR {
    animation: fadeInRight;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
    /* don't forget to set a duration! */
}

.fade {
    opacity: 0;
    /* transition: 0.7s; */
    animation: fadeOutUp;
    animation-duration: 0.7s;
}

.fadepl {
    opacity: 0;
    /* transition: 0.7s; */
    animation: fadeOutLeft;
    animation-duration: 0.7s;
}

.fadepr {
    opacity: 0;
    /* transition: 0.7s; */
    animation: fadeOutRight;
    animation-duration: 0.7s;
}


/* RESOLUCIONES CELULAR */

@media only screen and (max-width: 600px) {
    .animate_title {
        color: #1270b7;
    }
    .fade {
        opacity: 1;
        animation: bounce;
        animation-duration: 0.7s;
    }
}


/* NOSOTROS */


/* titulo */

.animate_nosotros {
    animation: fadeInDown;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
    /* don't forget to set a duration! */
}

.faden {
    opacity: 0;
    /* transition: 0.7s; */
    animation: fadeOutUp;
    animation-duration: 0.7s;
}

.animate_nosotropl {
    animation: fadeInLeft;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
    /* don't forget to set a duration! */
}

.animate_nosotropr {
    animation: fadeInRight;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
    /* don't forget to set a duration! */
}

.fadenpl {
    opacity: 0;
    /* transition: 0.7s; */
    animation: fadeOutLeft;
    animation-duration: 0.7s;
}

.fadenpr {
    opacity: 0;
    /* transition: 0.7s; */
    animation: fadeOutRight;
    animation-duration: 0.7s;
}

.centered {
    /* position: absolute; */
    margin-top: 16%;
    text-align: center;
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
}

.respiracion {
    animation: bounce;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 3.4s;
    /* don't forget to set a duration! */
    animation-iteration-count: infinite;
}